@keyframes ClickAnimation {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(103,103,103);
  background: linear-gradient(180deg, rgba(70,70,70,1) 25%, rgba(34,34,34,1) 100%);
}

::-webkit-scrollbar-thumb {
  background: rgb(103,103,103);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(122, 122, 122) 82%);
}

.SceneObject {
  width: 245px;
  height: 245px;
  padding: 1%;

  filter:drop-shadow(15px 15px 10px);
  cursor:url("../public/cursorPick1.cur"),auto;
}

.SceneObject:active {
  animation-name: ClickAnimation;
  animation-duration: 0.5s;
  animation-direction: alternate;
  cursor:url("../public/cursorPick2.cur"),auto;
}

.InventoryIcon {
  width: 50px;
  height: 50px;

  display: block;
  margin: auto;
}

.InventoryFrame {
  box-shadow: 0px 0px 10px rgb(230, 230, 230);
  background-color: rgb(36, 36, 36);
}

#navList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  list-style: none;

  padding-inline-start: 0px;
}

#navList > li > button {
  background-color: #cf6f00;
  color: white;

  border:groove;
  border-radius: 10px;
  border-width: 1px;
  border-color: #cf6f00;

  text-align: center;
  display: inline-block;

  width: 100px;
  height: 35px;

  font-size: 16px;
  font-family: Tilt Warp;

  transition-duration: 0.2s;
}

#navList > li > button:hover {
  background-color: #ffc400;
  color: rgb(41, 41, 41);
}

#navList > li > button:active {
  background-color: rgb(255, 255, 255);
}

#contentZone {
  display: flex;
  flex-direction: column;
  justify-content:left;
  flex-wrap: wrap;

  position: fixed;
  height: 72.2%;
  width: 99.5%;
  top: 7%;

  overflow: auto;

  background: rgb(41,15,0);
  background: linear-gradient(180deg, rgb(71, 71, 71) 5%, rgb(19, 19, 19) 60%);

  border-style: groove;
  border-image: url(../public/images/border.jpg) 10 round;
}

#footerInventory {
  position: fixed;
  top: 80%;
  width: 100%;

  background: rgb(41,41,41);
  background: radial-gradient(circle, rgba(41,41,41,1) 30%, rgba(125,35,0,1) 100%);
}

#footerList {
  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style: none;
  gap: 2%;

  overflow-x: auto;
}

#footerList > ul {
  padding-inline-start: 0px;
  padding: 0.4%;
}

#footerList > ul > h4 {
  display: flex;
  justify-content: space-evenly;
  
  color: aliceblue;
  font-family: Tilt Warp;
}