@keyframes ClickAnimation {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #55370000;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 225, 197, 0);

}

.SceneObject {
  width: 250px;
  height: 250px;
  padding: 1%;

  filter:drop-shadow(15px 15px 10px);
}

.SceneObject:active {
  animation-name: ClickAnimation;
  animation-duration: 0.5s;
  animation-direction: alternate;
}

.InventoryIcon {
  width: 50px;
  height: 50px;

  display: block;
  margin: auto;
}

.InventoryFrame {
  display:row;
  justify-content:center;

  box-shadow: 0px 0px 10px rgb(230, 230, 230);
  background-color: rgb(36, 36, 36);
}

#headerNav {
  box-shadow: 0px 3px 5px chocolate;
  height: 6%; 
}

#navList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  list-style: none;

  padding-inline-start: 0px;
}

#navList > li > button {
  background-color: #553700;
  color: white;

  border: none;

  text-align: center;
  display: inline-block;

  width: 100px;
  height: 35px;

  font-size: 16px;
  font-family: Tilt Warp;

  transition-duration: 0.2s;
}

#navList > li > button:hover {
  width: 125px;
  height: 35px;
  background-color: #ff9100;
}

#navList > li > button:active {
  background-color: rgb(255, 255, 255);
}

#contentBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  
  top: 7%;

  z-index: -1;
  display: block;

  background-image: url("images/MinesBackground.jpg");
  filter: blur(2px) brightness(25%);
}

#contentZone {
  display: flex;
  flex-direction: column;
  justify-content:left;
  flex-wrap: wrap;

  position: fixed;
  height: 100%;
  width: 100%;
  top: 7%;

  overflow: auto;
  white-space: nowrap;
}

#footerInventory {
  position: fixed;
  top: 80%;
  width: 100%;
}

#footerBackground {
  position: fixed;
  width: 100%;
  height: 20%;
  
  z-index: -1;
  display: block;

  background-image: url("images/FooterBackground.jpg");
  filter: blur(1.5px) contrast(140%);
}

#footerList {
  box-shadow: 0px 0px 10px chocolate;

  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style: none;
  gap: 2%;

  overflow-x: auto;
}

#footerList > ul {
  padding-inline-start: 0px;
  padding: 0.4%;
}

#footerList > ul > h4 {
  display: flex;
  justify-content: space-evenly;
  
  color: aliceblue;
  font-family: Tilt Warp;
}